@import "ember-bootstrap-sass";

.gl-defauld-padding {
  padding: 20px 15px
}

.gl-add-buttons {
  a:first-child {
    margin-right: 10px
  }
}

.gl-maring-top-10 {
  margin-top: 10px
}

.gl-error-message {
  color: #d94d41;
  font-size: 12px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: left;
  margin-top: -15px;
}


@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";
