<h1>Users list</h1>

<div class="pull-right gl-add-buttons">
  {{#link-to 'users.new' class='btn btn-info'}}
    <i class="glyphicon-plus" /> New User
  {{/link-to}}
  {{#link-to 'goals.new' class='btn btn-info'}}
    <i class="glyphicon-plus" /> New Goal
  {{/link-to}}
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-xs-6"><h4>Name</h4></div>
  <div class="col-xs-2"><h4>Average Score</h4></div>
  <div class="col-xs-4"><h4></h4></div>
</div>

{{#each model as |user|}}
  <div class="row">
    <div class="col-xs-6">{{user.name}}</div>
    <div class="col-xs-2">{{user.average_score}}</div>
    <div class="col-xs-4">{{#link-to 'user' user.id}}View{{/link-to}}</div>
  </div>
{{/each}}
